.nav {
  position: sticky;
  z-index: 3;
  background: var(--background);
  padding: 2.75rem 1.5rem 1.5rem;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
}

.navLinksContainer {
  width: 100%;
}

.navLinks {
  display: flex;
}

.hi {
  margin-top: 0;
  text-align: left;
  min-width: 200px;
  order: 0;
  grid-row: 1 / 2;
}

.heightEnforcer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 1.6rem;
}

.list {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
  margin: 2rem 0 0;
  list-style: none;
  position: relative;
  width: fit-content;
}

.list a {
  color: var(--foreground);
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
  padding: 1em;
  border-bottom: 1px solid var(--bright-orange);
}

.langSwitch {
  background: none;
  color: var(--foreground);
  padding: 0.5em 1em;
  width: 3rem;
  height: 3.5rem;
  border-radius: 0.2rem;
  order: 0;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: -8px 1rem 0 auto;
  align-items: anchor-center;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  grid-row: 1 / 2;
}

.langSwitch:hover,
.langSwitch:focus,
.langSwitch:active {
  background-color: var(--foreground);
  color: var(--background);
}

.list a:hover {
  background-color: var(--emphasis);
  color: var(--background);
}

.list a:hover::after {
  width: 0;
}

.active {
  color: var(--emphasis);
}

.active::after {
  width: 100%;
}

.wordplay {
  color: var(--bright-orange);
  margin-left: 5px;
}

.hamburger {
  display: none;
  background: none;
  border: 1px solid transparent;
  color: var(--foreground);
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
  order: 1;
  z-index: 5;
}

@media screen and (min-width: 768px) {
  .list {
    margin-top: 0;
    margin-left: 20%;
    grid-row: 1 / 3;
  }
  .list a {
    border-bottom: transparent;
  }
  .list a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: var(--emphasis);
    transition: width 0.2s ease;
  }
  .hi {
    text-align: inherit;
    grid-row: 1 / 3;
  }
  .langSwitch {
    grid-row: 1 / 3;
  }
}

@media screen and (max-width: 767px) {
  .hamburger {
    display: block;
    grid-row: 1 / 3;
    top: 1rem;
    right: 1rem;
  }

  .list {
    display: none;
  }

  .menuOpen .list {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--background);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 4;
    margin: 0;
    padding: 0;
  }

  .menuOpen .list a {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-bottom: none;
    text-align: center;
  }

  .menuOpen .hi {
    display: none;
  }
}
