.nav {
  position: sticky;
  z-index: 1000;
  background: var(--background);
  padding: 2.75rem 1.5rem;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
}

.list {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
  margin: 0;
  list-style: none;
  left: 50%;
  position: relative;
  width: fit-content;
}

.list a {
  color: var(--text-light);
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.2s ease;
  padding: 1em;
}

.list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background: var(--emphasis);
  transition: width 0.2s ease;
}

.list a:hover {
  background-color: var(--emphasis);
}

.list a:hover::after {
  width: 0;
}

.active {
  color: var(--emphasis);
}

.active::after {
  width: 100%;
}

.wordplay {
  color: var(--bright-orange);
}
