.wrapper {
  border-radius: 0px !important;
  margin: 0px calc(var(--viewport-padding) * -1) 64px !important;
  border: 1px solid var(--color-card-border);
  position: relative;
  min-height: 100%;
}

.copyButton {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 10;
  background: var(--foreground);
  color: var(--background);
  border-color: none;
  border-radius: 4px;
  padding: 6px 10px;
  gap: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.copyButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.codeBlock {
  margin: 0;
}

.wrapper pre {
  padding: var(--viewport-padding) !important;
}
.wrapper code {
  font-family: var(--font-family-mono);
}
.wrapper code > div {
  font-size: 1.125rem;
  padding: 0px !important;
}

@media (min-width: 56rem) {
  .wrapper {
    border-radius: 8px !important;
  }
}
