.wrapper {
  padding-bottom: 64px;
  position: relative;
  z-index: 2;
}

.page {
  position: relative;
  line-height: 1.8;
  letter-spacing: 0.01em;
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 16px;
}

.page img {
  max-width: var(--content-width);
}

.page blockquote {
  border-left: var(--emphasis) 4px solid;
  padding-left: 16px;
  margin-bottom: 32px;
}

@media screen and (max-width: 800px) {
  .page img {
    max-width: 100%;
  }
}
