/* ToDO: might not need the static folder of Murecho, try to delete it and see if its ok
*/

@font-face {
  font-family: "Murecho";
  src: url("/fonts/Murecho/Murecho-VariableFont_wght.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* 
@font-face {
  font-family: "Murecho";
  src: url("/fonts/murecho/Murecho-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */

:root {
  --font-primary: "Murecho", Arial, Helvetica, sans-serif;
  --background: #fbf6f6;
  --foreground: #280905;
  --emphasis: #d96868;
  --dark-green: #4c5c2d;
  --opaque-green: #6a7e3f;
  --forest-green: #237227;
  --bright-orange: #ff7f11 /*#ffaa00*/;
  --opaque-orange: #ffd786;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222222;
    --foreground: #fbf6f6;
  }
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased; /* Chrome/Safari */
  -moz-osx-font-smoothing: grayscale; /* Firefox on macOS */
  text-rendering: optimizeLegibility;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.emphasis {
  color: var(--emphasis);
}

.emphasis-bg {
  background-color: var(--emphasis);
}

.foreground {
  color: var(--foreground);
}

a {
  color: var(--bright-orange);
}
