.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 32px);
  padding: 0 16px;
  margin: 0 auto;
}

.content {
  position: relative;
  width: 100%;
  max-width: var(--content-width);
  padding-bottom: 64px;
}

.content h1 {
  margin-bottom: 0.5rem;
}
.content p {
  font-size: 1.125rem;
  margin-bottom: 0px;
  font-weight: 400;
}
.content time {
  font-weight: 500;
}

@media (min-width: 35rem) {
  .content p {
    font-size: 1.25rem;
  }
}
